@font-face {
    font-family: Alfa Slab;
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
    font-family: Mr Dafoe;
    src: url(../fonts/MrDafoe-Regular.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}